---
import { Image } from "astro:assets";
import LinkButton from "./LinkButton.astro";
import Card from "../ui/card/Card.astro";
import CardContent from "../ui/card/CardContent.astro";
import ramzcoder from "../../assets/ramzcoder.webp";
---

<div
  class="min-h-screen bg-black text-white flex flex-col items-center py-8 px-4"
>
  <Card>
    <CardContent class="items-center space-y-6">
      <Image
        width={320}
        height={320}
        src={ramzcoder}
        alt="ramzcoder"
        class="rounded-full object-cover w-40"
        loading="eager"
      />

      <div class="text-center">
        <h1 class="text-2xl font-bold text-white">Ramziddin Makhmudov</h1>
        <p class="text-zinc-400 mt-2">Dasturlash haqida</p>
      </div>

      <div class="w-full space-y-4">
        <LinkButton
          href="https://youtube.com/@ramzcoder"
          text="YouTube Kanalim"
        />
        <LinkButton href="https://t.me/ramzcoder" text="Telegram Kanalim" />
        <LinkButton
          href="https://t.me/ramzcodercom"
          text="Dasturchilar Kommyunitisi"
        />
      </div>
    </CardContent>
  </Card>
</div>
